USE [master]
GO
/****** Object:  Database [Stock_Manager]    Script Date: 1/21/2024 10:56:50 AM ******/
CREATE DATABASE [Stock_Manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stock_Manager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TESTSERVER\MSSQL\DATA\Stock_Manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stock_Manager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TESTSERVER\MSSQL\DATA\Stock_Manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stock_Manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stock_Manager]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 1/21/2024 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[stockCode] [varchar](50) NULL,
	[itemName] [varchar](50) NULL,
	[itemQty] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loginCredentials]    Script Date: 1/21/2024 10:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loginCredentials](
	[username] [varchar](50) NULL,
	[passcode] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactionlog]    Script Date: 1/21/2024 10:56:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactionlog](
	[date_time] [datetime] NULL,
	[item_action] [varchar](50) NULL,
	[item_name] [varchar](50) NULL,
	[item_code] [varchar](50) NULL,
	[remaining_qty] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
